// White theme

// Color variables
$black: #161D1D;
$burgundy: #4E1821;
$burgundy-light: #CB7273;
// $burgundy-lighter: #D68F92;
$burgundy-lighter: #D69E9E;
$white: #fff;
// Config

$color-body-text: $burgundy-lighter;
$color-background: $burgundy !default;
$color-foreground: $burgundy-lighter !default;
$color-title: $burgundy-light !default;
$color-body-text: $burgundy-lighter !default;
$color-text-accent: $white !default;
$color-code: $burgundy-light !default;
$color-nav-link: $white !default;
$color-primary-link: $burgundy-light !default;
$color-primary-underline: $burgundy-light !default;
$color-border: $burgundy-light !default;

// .font-smoothing {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
