// Dark theme

// Color variables
$black: #222020;
$gray-dark: #423F38;
$gray: #A09992;
$gray-light: #BBB4B4;
$white: #fff;
$orange: #B1562F;

// Config
$color-body-text: $gray-light;
$color-background: $black !default;
$color-foreground: $gray-light !default;
$color-title: $gray-light !default;
$color-body-text: $white !default;
$color-text-accent: $gray-light !default;
$color-code: $orange !default;
$color-nav-link: $white !default;
$color-primary-link: $orange !default;
$color-primary-underline: $gray !default;
$color-border: $gray-light !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
